@tailwind base;

html {
  font-size: 16px;
}

@media (min-width: 768px) { 
  html {
    font-size: 20px;
  }
}

body {
  font-family: sofia-pro, Times, sans-serif;
  font-weight: 400;
}

h1 {
  @apply text-4xl font-bold text-gray-900;
  font-weight: 700;
  letter-spacing: -.75px;
}

h2 {
  @apply text-2xl font-bold text-gray-900 mt-6;
  letter-spacing: -.5px;
}

h3 {
  @apply text-xl font-bold text-gray-900 mt-6;
}

h4 {
  @apply text-lg font-bold text-gray-900 mt-6;
}

h5 {
  @apply text-base font-bold text-gray-900 mt-4;
}

@media (min-width: 768px) { 
  h2 {
    @apply mt-16;
  }

  h3 {
    @apply mt-16;
  }

  h4 {
    @apply mt-16;
  }
}

.anchor {
  position: relative;
}

.anchor:before {
  @apply font-normal text-blue-200;
  content: "#";
  position: absolute;
  left: -2rem;
}

.anchor:hover:before {
  @apply text-blue-600;
}

p {
  @apply text-base text-gray-800 mt-4;
  letter-spacing: -.25px;
}

ol {
  @apply mt-4 list-decimal list-inside;
}

ol li {
  @apply text-gray-800 pt-4;
}

ol li:first-of-type {
  @apply pt-0;
}

ul {
  @apply mt-4 list-disc list-outside;
}

ul li {
  @apply text-gray-800 pt-2 pl-1 ml-4;
}

ul li::marker{

}

ul li:first-of-type {
  @apply pt-0;
}

ul li ul {
  @apply mt-0;
}

a {
  @apply text-blue-600;
}

:focus {
  outline: 0;
  @apply shadow-outline;
}

blockquote {
  @apply bg-purple-100 rounded-lg pt-2 pl-6 pr-6 pb-6;
}

blockquote p, blockquote li {
  @apply text-purple-900;
}

.caret {
  margin-top: 3px;
}

strong {
  font-weight: 700;
}

.sidebar {
  @apply list-none;
}

.sidebar a {
  @apply text-gray-600;
}

.sidebar a:hover {
  @apply text-blue-500;
}

.sidebar li {
  @apply text-xs pt-2 pl-1 ml-2 leading-tight;
}

.sidebar > li {
  @apply pl-0 ml-0;
}

.sidebar ul {
  @apply list-none mt-2;
}

.sidebar ul ul {
  @apply list-none;
}

@tailwind components;
@tailwind utilities;